<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.honftel.project.post.dao.PostDAO">

	<insert id="insertPost" parameterType="map">
	   INSERT INTO `post` 
		(
		    
			`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
		) VALUES (
			#{userId}
			,#{userName}
			,#{subject}
			,#{genre}
			,#{content}
			,#{broadcastdays}
			,#{releasedate}
			,#{year}
			,#{grade}
			,#{imagePath}
			,#{videoPath}
			, now()
			, now()
		)
	   


	</insert>
	
	<select id="selectPostList"  resultType="com.honftel.project.post.model.Post">
	   SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      ORDER BY
              `id`
      DESC 
	         
	
	
	</select>
	
	<select id="selectScoreList"  resultType="com.honftel.project.post.model.Post">
	   SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      ORDER BY
              `grade`
      DESC 
	         
	
	
	</select>
	
	
	
	
	<select id="selectPost" parameterType="int" resultType="com.honftel.project.post.model.Post">
	SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      WHERE
           `id` = #{postId}
	
	
	</select>
	
	<select id="searchGenreList" parameterType="String"  resultType="com.honftel.project.post.model.Post">
	   SELECT
	        count(*) AS count
	        ,`id`
	        ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      WHERE 
       
	  <foreach collection="genre" item="genre" open="(" close=")" separator="AND"> `genre` 
      LIKE concat('%',#{genre},'%') </foreach>

  
	
	
	</select>
	
	
	
	
	<select id="selectWeekList" parameterType="String" resultType="com.honftel.project.post.model.Post">
	SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      WHERE
           `broadcastdays` = #{broadcastdays}
	
	
	</select>
	
	<select id="selectYearList"   resultType="com.honftel.project.post.model.Post">
	   SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      ORDER BY
              `year`
      DESC 
	         
	
	
	</select>
	
	
	<select id="searchYearList" parameterType="int" resultType="com.honftel.project.post.model.Post">
	   SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      WHERE `year` = #{year}
	         
	
	
	</select>
	
	<select id="searchSubjectList"  resultType="com.honftel.project.post.model.Post">
	   SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      WHERE `subject` 
      LIKE concat('%',#{subject},'%')
	         
	
	
	</select>
	
	
	<select id="selectCountSubject" resultType="int" parameterType="string" >
	   SELECT
	      count(*)
	   FROM
	       `post`
	   WHERE
	        `subject` = #{subject}
	
	
	</select>


</mapper>