<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.honftel.project.post.dao.PostDAO">

	<insert id="insertPost" parameterType="map">
	   INSERT INTO `post` 
		(
		    
			`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
		) VALUES (
			#{userId}
			,#{userName}
			,#{subject}
			,#{genre}
			,#{content}
			,#{broadcastdays}
			,#{releasedate}
			,#{year}
			,#{grade}
			,#{imagePath}
			,#{videoPath}
			, now()
			, now()
		)
	   


	</insert>
	
	<select id="selectPostList"  resultType="com.honftel.project.post.model.Post">
	   SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      ORDER BY
              `id`
      DESC 
	         
	
	
	</select>
	
	<select id="selectScoreList"  resultType="com.honftel.project.post.model.Post">
	   SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      ORDER BY
              `grade`
      DESC 
	         
	
	
	</select>
	
	
	
	
	<select id="selectPost" parameterType="int" resultType="com.honftel.project.post.model.Post">
	SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      WHERE
           `id` = #{postId}
	
	
	</select>
	
	<select id="selectYearList"  resultType="com.honftel.project.post.model.Post">
	   SELECT
	         `id`
	         ,`userId`
			,`userName`
			,`subject`
			,`genre`
			,`content`
			,`broadcastdays`
			,`releasedate`
			,`year`
			,`grade`
			,`imagePath`
			,`videoPath`
			, `createdAt`
			, `updatedAt`
      FROM 
          `post`
      ORDER BY
              `year`
      DESC 
	         
	
	
	</select>
	
	


</mapper>