@charset "UTF-8";

#wrap{
	width: 1200px;
	height: 800px;
	margin: auto;
	
	
}
a{
	color:black;
}
a:hover{
	color:black;
	text-decoration:none;
}

.bi-file-plus{
	font-size: 40px;
	
}
.break{
	word-break: break-all;
}
.changeline{
	flex-wrap: wrap;
}

header {
	height:40px;
}

.showcontents{
	height:250px;
	
}

.signup-box{
	width: 400px;
}

.login-box{
	width: 400px;
}

.img-icon{
	font-size: 25px;
	color: blue;
}

footer {
	height:50px;
}

.scrollbar{
	white-space:nowrap;
    overflow-x:auto;
	
}

.page{
	width: 150px;
	height: 200px;
}

.content{
	height: 100px;
}

.interval{
	height: 50px;
}


.upload-box {
	
	border: solid 1px #cccccc;	
	border-radius: 5px;
}


.non-resize {
	resize:none;		
}

.more-icon {
	font-size:18px;	
}

.likeBtn:hover {
	text-decoration:none;
}

.heart-icon {
	font-size:20px;
}


.big-icon {
	font-size:25px;
}

.middle-size {
	font-size:15px;
}

.image-upload-icon {
	font-size:20px;
	color:black;
}
